/Biography/*
/Fall 2022/CWA – Advisor Registration – CWA.CWops.org.pdf
/Hans-Advanced Class/*
/OLD/*
/CORRECTED CWA Student Assignments for the 2022 Sep_Oct Semester.pdf
/BKUP/*
/hw.odt
/.~lock.CWA_Notes.odp#
/Certs/*
/Fall 2022/CORRECTED CWA Student Assignments for the 2022 Sep_Oct Semester.pdf
/CWA – Advisor Registration – CWA.CWops.org.pdf
/Links.txt
/CWA Student Assignments for the 2023 May_Jun Semester.pdf
/Winter 2023/CWA – Advisor Registration – CWA.CWops.org.pdf
/Spring 2023/CWA Student Assignments for the 2023 May_Jun Semester.pdf
/Spring 2023/CWA Evaluations Spring 2023.pdf
/.~lock.0-CWA_Notes.odp#
/Winter 2024/CWA_Class_Assignments_Winter_2024.pdf
